<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Roopvilla Project</title>
    <%- include('includes/header.ejs') %>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    <style>
      .responsive {
        width: 100%;
        height: auto;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    
<%- include('includes/navigation.ejs') %>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('corousel/outdoor1.jpg'); background-size:100% 100%;  background-position: center;
  background-repeat: no-repeat;">
      </div>


      <div class="carousel-item" style="background-image: url('corousel/front1.jpg'); background-size:100% 100%;  background-position: center;
  background-repeat: no-repeat;">
      </div>


      <div class="carousel-item" style="background-image: url('corousel/balcony2.jpg'); background-size:100% 100%;  background-position: center;
  background-repeat: no-repeat;">
      </div>

      <div class="carousel-item" style="background-image: url('corousel/balcony1.jpg'); background-size:100% 100%;  background-position: center;
  background-repeat: no-repeat;">
      </div>

      <div class="carousel-item" style="background-image: url('corousel/interior1.jpg'); background-size:100% 100%;  background-position: center;
  background-repeat: no-repeat;">
      </div>

      <div class="carousel-item" style="background-image: url('corousel/roof1.jpg'); background-size:100% 100%;  background-position: center;
  background-repeat: no-repeat;">
      </div>
      
      <div class="carousel-item" style="background-image: url('corousel/window1.jpg'); background-size:100% 100%;  background-position: center;
  background-repeat: no-repeat;">
      </div>




    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="diary.png" height="140" width="140"/></svg>

        <h2>Minutes of the Meetings are now available</h2>
        <p>All the topics discussed and the decisions that were taken are fully recorded in our DB. These can be viewed from the <code>Minuted of Meeting</code> tab. <span class="badge rounded-pill bg-success">New</span></p>
        <p><a class="btn btn-secondary" href="/mom">View Page &raquo;</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="send-mail.png" height="140" width="140"/></svg>

        <h2>Request for E-Mails</h2>
        <p>Now you can request mails for providing you with the monthly ledger or your personal information and payment history from the <code>Mailer</code> tab. Please note that this is not a subscription based system. <span class="badge rounded-pill bg-success">New</span></p>
        <p><a class="btn btn-secondary" href="/mailer">View Page &raquo;</a></p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="web-development.png" height="140" width="140"/></svg>

        <h2>Check out the Tech Stack</h2>
        <p>You can collaborateand and contribute to this system. Chekout the tech stack used and provide your suggestion.</p>

        <p><a class="btn btn-secondary" href="/tech">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
    <div id="features">
      
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <%- include('includes/footer.ejs') %>
</main>


<%- include('includes/scripts.ejs') %>
<script>
  function isFeatureNew(featureDate){
    const date1 = Date.now();
    const date2 = new Date(featureDate);
    const diffTime = Math.abs(date2 - date1);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
    return diffDays<=5
  }
  $(function(){
    clientCallGET('/features', (data)=>{
      let target=$('#features').html("");

      for(var i=0; i<data['data'].length;i++){
        let element=data['data'][i];
        console.log(element);
        let template =`<hr class="featurette-divider">
        <div class="row featurette">`;
        if(i%2==0){
          template+=`
          <div class="col-md-7">
            <h2 class="featurette-heading">${element.heading} <span class="text-muted">${element.focused?element.focused:""}</span></h2>
            <p class="lead">${element.desc}  ${isFeatureNew(element.date)? `<span class="badge rounded-pill bg-primary">New</span>`:""}</p>
            ${element.btn? `<p><a class="btn btn-secondary" href=${decodeURIComponent(element.btn)}>View details &raquo;</a></p>` : ``}
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="${decodeURIComponent(element.img)}" height="500" width="500" class="responsive"/></svg>
          </div>
          `;
        }
        else{
          template+=`
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">${element.heading} <span class="text-muted">${element.focused?element.focused:""}</span></h2>
            <p class="lead">${element.desc}  ${isFeatureNew(element.date)? `<span class="badge rounded-pill bg-primary">New</span>`:""}</p>
            ${element.btn? `<p><a class="btn btn-secondary" href=${decodeURIComponent(element.btn)}>View details &raquo;</a></p>` : ``}
          </div>
          <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="${decodeURIComponent(element.img)}" height="500" width="500" class="responsive"/></svg>
          </div>
          `;
        }
        template+=`</div>`;
        target.append(template);
      }
    });
  })
</script>
  </body>
</html>
