<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="modals.css" rel="stylesheet">
        <title>Change Password - Roopvilla Project</title>
        <%- include('includes/header.ejs') %>

    </head>

    <body>
      <%- include('includes/navigation.ejs') %>
      <main>
    
            <div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
              <div class="modal-dialog" role="document">
                <div class="modal-content rounded-5 shadow">
                  <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h5 class="modal-title">Modal title</h5> -->
                    <h2 class="fw-bold mb-0">Change Your Password</h2>
                  </div>
            
                  <div class="modal-body p-5 pt-0">
                    <form id="passwordForm">
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="cp" placeholder="Current Password" required>
                        <label for="cp">Current Password</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="np" placeholder="New Password" required>
                        <label for="np">New Password</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="rnp" placeholder="Re-enter Password" required>
                        <label for="rnp">Re-enter Password</label>
                      </div>
                      <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary disabled" type="submit" id="submit">Confirm Change</button>
                      <small id="rnpdm" style="color: red;">Re-entered password doesn't match.</small>
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorMessage">
                        Something Went Wrong. We'll check it soon. 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      <div class="alert alert-success alert-dismissible fade show" role="alert" id="successMessage">
                        Password Changed successfully. 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      <hr class="my-4">
                      <h2 class="fs-5 fw-bold mb-3">Your password must match the following criterias:</h2>
                      <ul id="criteria">
                        <li id="len">At least <b>8 characters</b> in length</li>
                        <li id="ouc">At least <b>one capital</b> character</li>
                        <li id="olc">At least <b>one small</b> character</li>
                        <li id="onc">At least <b>one numeric</b> character</li>
                        <li id="osc">At least <b>one special</b> character</li>
                        <li id="npcp">New password should not be your old password</li>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
            </div>
                
            <%- include('includes/footer.ejs') %>
        </main>
        
        <script>
          function checklistColorChange(id, value, regex){
            let criteriaMet = regex.test(value);
            if(value)
            {
              if(criteriaMet){$(id).css("color","green");}
              else{$(id).css("color","red");}
            }
            else
            {
              $(id).css("color","");
            }
          }

          function resetCriterias()
          {
            $("#len").css("color","");
            $("#ouc").css("color","");
            $("#olc").css("color","");
            $("#onc").css("color","");
            $("#osc").css("color","");
            $("#npcp").css("color","");
          }

          let PatternMatchFlag = false;
          let oldSamePasswordFlag = false;
          let newSamePasswordFlag = false;
          let passwordEmpty= true;

          function checkFlags(){
            let re = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[*.!@$%^&(){}[\]:;<>,.?\/~_+\-=|]).{8,}$/;
            PatternMatchFlag = re.test($("#np").val());
            oldSamePasswordFlag= (($("#cp").val()===$("#rnp").val()) || ($("#cp").val()===$("#np").val()));
            newSamePasswordFlag= ($("#np").val()===$("#rnp").val());
            passwordEmpty= ($("#np").val()==="" || $("#rnp").val()==="");

            updateJudgements();
          }

          function updateJudgements()
          {
            if(!newSamePasswordFlag && !passwordEmpty)
              {
                $("#rnpdm").show();
              }
              else{
                $("#rnpdm").hide();
              }

              if(!oldSamePasswordFlag && newSamePasswordFlag && PatternMatchFlag && !passwordEmpty)
              {
                $("#submit").removeClass("disabled");
              }
              else{
                $("#submit").addClass("disabled");
              }

              if(!oldSamePasswordFlag)
              {
                $("#npcp").css("color","green");
              }
              else{
                $("#npcp").css("color","red");
              }
          }

          $(function(){
            $("#successMessage").hide();
            $("#errorMessage").hide();
            $("#rnpdm").hide();
            $("#np").keyup(function(){
              let value= $("#np").val();
              checklistColorChange("#len",value,/.{8,}/);
              checklistColorChange("#ouc",value,/[A-Z]/);
              checklistColorChange("#olc",value,/[a-z]/);
              checklistColorChange("#onc",value,/[0-9]/);
              checklistColorChange("#osc",value,/[*.!@$%^&(){}[\]:;<>,.?\/~_+\-=|]/);

              checkFlags();
            });

            $("#rnp").keyup(function(){
              checkFlags();
            });

            $("#passwordForm").submit(function(event){

              const reqData ={
                current:$("#cp").val(),
                password:$("#rnp").val()
              }
              console.log(reqData);
              const client = new XMLHttpRequest();
              client.onload = function (){
                  if (this.status == 204) {
                    $("#successMessage").show(300);
                    $("#passwordForm")[0].reset();
                    resetCriterias();
                  }
                  else{
                    data = JSON.parse(this.responseText);
                    console.error({
                        code : this.status,
                        details : data
                    });
                    if(data && data.errMsg){
                      message =data.errMsg;
                    }
                    else{
                      message ="Something went wrong. We'll check soon";
                    }
                    $("#errorMessage").html(message+'<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>');
                    $("#errorMessage").show(200);
                  }
              }
              client.open("PUT", "/users/setPassword",true);
              client.setRequestHeader("Content-type","application/json");
              client.send(JSON.stringify(reqData));
              event.preventDefault();
            });

            


          });
        </script>


 
        <%- include('includes/scripts.ejs') %>
    </body>
</html>