<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reservations - Roopvilla Project</title>
        <link rel="stylesheet" href="style.css">
        <%- include('includes/header.ejs') %>

    </head>

    <body>
      <%- include('includes/navigation.ejs') %>

      <main class="my-5 py-3" style="width: 95%; margin: auto;">
        <div class="row align-items-md-stretch my-3 p-3">
          <div class="col-md-6" style=" min-width: 60vh;">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2 class="text-center">Check Reserved Dates</h2>
              <br>
              <div id="drawCalendar">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style=" min-width: 60vh;">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2 class="text-center">Request for Reservation</h2>
              
              <div class="modal-content rounded-5 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                  <!-- <h5 class="modal-title">Modal title</h5> -->
                  <h2 class="fw-bold mb-0">Reservation Form</h2>

                </div>
          
                <div class="modal-body p-5 pt-0">
                  <form id="requestReservationForm">
                    <div class="form-floating mb-3">
                      <div class="input-group mx-auto">
                        <span class="input-group-text">Date of Reservation</span>
                        <input type="date" class="form-control" name='reservationDate' required>
                    </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control rounded-4" placeholder="123-45-678" name="desc" required>
                      <label>Description</label>
                    </div>
                    
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Request Reservation</button>
                    <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3">Please Note</h2>
                    <ul>
                      <li>Status will be updated within 24Hrs</li>
                      <li>Confirmation will be provided on First Come First Serve basis</li>
                      <li>Any conflicts needs to be ressolved by respective members</li>
                      <li>For multiple days, please make multiple individual bookings for those days.</li>
                    </ul>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-5 mb-4 bg-light rounded-3" style="background-color: #fde7f9;
        background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%); width: 98%; margin: 0 auto;     
        ">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Your Reservations</h1>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="reservedDates">
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Mark</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mark</td>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <%- include('includes/footer.ejs') %>
      </main>

      <script src="https://momentjs.com/downloads/moment.js"></script>
      <script  src="script.js"></script>
      <%- include('includes/scripts.ejs') %>
    </body>
</html>