<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Stack - Roopvilla Project</title>
    <%- include('includes/header.ejs') %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <style>
      .responsive {
        width: 100%;
        height: auto;
      }

    </style>
    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <link href="heroes.css" rel="stylesheet">
    <link href="features.css" rel="stylesheet">
  </head>
  <body>
    
    <%- include('includes/navigation.ejs') %>

<main>

  <div class="p-5  bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Tech Stack</h1>
      <p class="col-md-8 fs-4">Explore the Technology Stacked used for the project.</p>
    </div>
  </div>

    <div class="b-example-divider"></div>


  <div class="px-4 py-5  text-center text-white" style="background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <img class="d-block mx-auto mb-4" src="/logos/node.svg" alt="" width="300" height="140">
    <img class="d-block mx-auto mb-4" src="/logos/express.svg" alt="" width="300" height="140">
    <h1 class="display-5 fw-bold">Node JS + Express JS</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Node and Express provides industry standard tools and framwork to develop and host APIs and dynamic web applications. The entire backend is built on Node JS which provides the runtime and the technology needed to create seamless and dynamic application, which was hosted by express to expose the APIs.</p>
    </div>
  </div>

  <div class="b-example-divider"></div>


  <div class="px-4 py-5  text-center text-white" style="background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <img class="d-block mx-auto mb-4" src="/logos/angular.svg" alt="" width="300" height="300">
    <h1 class="display-5 fw-bold">Angular Frontend</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">One of the top most frameworks for fronent development, Angular provides a framework that can leverage the power of DOM to provide fluid user interface.</p>
    </div>
  </div>


  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 text-center border-bottom text-white" style="background-color: #0cbaba;background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);">
    <h1 class="display-4 fw-bold">Build Versitility</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Robust, Scalable and Secured. The system was designed with all the three values in mind to provide the best experience. build on the latest technology and encryption mechanism what the insudtry has to offer</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 50vh;">
      <div class="container px-5">
        <img src="/logos/ss1.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="1200" height="700" >
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>
<div style="background-color: #a4508b; background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); width: 100%;">
  <div class="container col-xxl-8 px-4 py-5 text-white">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/logos/heroku.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Deployed on Heroku</h1>
        <p class="lead">One the most popular choice of PaaS when it comes to easy and scalable deployemnts.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="b-example-divider"></div>
<div style="background-color: #3bb78f;background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%); width: 100%;">
  <div class="container px-4 py-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-white">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Database : MongoDB</h1>
        <p class="lead">Document Data Model, NOSQL Database which handles all the underlying data. Mongo has one of the best development community and the ease of integrating it with Node JS made this project possible. It also provides Atlas, a cloud DBaas, on which the data is hosted.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <img class="d-block mx-auto mb-4" src="/logos/mongo.png" alt="" width="300">
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="/logos/ss2.png" alt="" width="700">
      </div>
    </div>
  </div>
</div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Check out the Source Code</h1>

      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4"></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <img class="d-block mb-0 m-1" src="/logos/githubW-oct.png" alt="" width="75" >
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold text-center" onclick="location.href = 'https://github.com/Projit32/Roopvilla-Project-Node';">GitHub</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>



  <!-- FOOTER -->
  <%- include('includes/footer.ejs') %>
</main>


<%- include('includes/scripts.ejs') %>

  </body>
</html>
